body{
    background-image: linear-gradient(315deg, #2b0909 0%, #1f0606 74%);
    background-size: 100%; 
    
}
body{
    margin-bottom: 150px;
}
h1{
    color: red;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    background-image: linear-gradient(315deg, #f1ebeb 0%, #f8eaea 74%);
     margin-top: 50px;
    margin-bottom: 50px; 
    font-size: 2.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.series{
    display: flex;
    align-content: center;
}
.series2{
    display: flex;
}
.series3{
    display: flex;
}
.col img{
    width: 250px;
   margin-left: 15px;
   margin-right: 15px;
    height: 250px;   
    border-color: rgb(223, 220, 220);
    box-sizing: content-box;
    border-style:dashed;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
    justify-content: center;
    
    box-sizing: content-box;
    
}
.card-title{
    text-align: center;
font-size: large;
font-style: bold;
color: aliceblue;
margin-top: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-text{
text-align: center;
font-size: larger;
font-style: bold;
font-weight: 700;
margin-top: 0px;
color: aliceblue;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.card button{
background-color:azure;
 height: 35px;
 margin-bottom: 30px;
 border-radius: 3px;
 font-size: medium;
 border-style: double;
 cursor: pointer;
}
